<?xml version ="1.0" encoding="UTF-8"?>
<settings>
    <pluginGroup>org.mule.tools</pluginGroup>
  <servers>
    <server>
        <id>my.anypoint.credentials</id>
        <username>my.anypoint.username</username>
        <connectedAppClientId>${MULE_CLIENT_ID}</connectedAppClientId>
        <connectedAppClientSecret>${MULE_CLIENT_SECRET}</connectedAppClientSecret>
        <connectedAppGrantType>client_credentials</connectedAppGrantType>
    </server>
  </servers>
</settings>